[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocs-windmill = "*"
mkdocs-ivory = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"

[requires]
python_version = "3.11"
